@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */

h1 {
  font-family: var(--font-nunito);
  line-height: 100px;
  @apply text-8xl font-bold;
}

h2 {
  font-family: var(--font-nunito);
  line-height: 88px;
  font-size: 80px;
  @apply font-bold;
}

h3 {
  font-family: var(--font-nunito);
  line-height: 80px;
  @apply text-7xl font-bold;
}

h4 {
  font-family: var(--font-nunito);
  line-height: 88px;
  font-size: 80px;
  @apply font-bold;
}

h5 {
  font-family: var(--font-nunito);
  line-height: 60px;
  font-size: 52px;
  @apply font-bold;
}

h6 {
  font-family: var(--font-nunito);
  line-height: 48px;
  font-size: 40px;
  @apply font-bold;
}

.text-BodyXs {
  font-size: 12px;
  font-family: var(--font-kanit);
  @apply leading-4 font-light;
}

.text-BodySm {
  font-family: var(--font-kanit);
  font-size: 14px;
  @apply !leading-5 font-light;
}

.text-BodyMd {
  font-family: var(--font-kanit);
  @apply text-base !leading-6 font-light;
}

.text-BodyLg {
  font-family: var(--font-kanit);
  @apply text-xl !leading-7 font-light;
}

.text-BodySm-link {
  font-family: var(--font-kanit);
  font-size: 14px;
  @apply !leading-5 font-light;
}

.text-label-caption {
  font-family: var(--font-kanit);
  font-size: 10px;
  @apply !leading-3 font-light;
}

.text-SubheadXXs {
  font-family: var(--font-nunito);
  font-size: 10px;
  line-height: 14px !important;
  @apply font-bold;
}

.text-SubheadXs {
  font-family: var(--font-kanit);
  @apply text-xs !leading-4 font-medium;
}

.text-SubheadSm {
  font-family: var(--font-kanit);
  @apply text-sm !leading-5 font-medium;
}

.text-SubheadMd {
  font-family: var(--font-kanit);
  @apply text-base !leading-6 font-medium;
}

.text-SubheadLg {
  font-family: var(--font-kanit);
  @apply text-xl !leading-7 font-medium;
}

.text-SubheadXl {
  font-family: var(--font-nunito);
  @apply text-2xl !leading-7 font-bold;
}

.text-Subhead2Xl {
  font-family: var(--font-nunito);
  font-size: 28px;
  @apply leading-8  font-bold;
}

.text-Subhead3Xl {
  font-family: var(--font-nunito);
  font-size: 32px;
  @apply !leading-10 font-bold;
}

.text-Subhead4Xl {
  font-family: var(--font-nunito);
  @apply text-[40px] leading-[48px] font-bold;
}

.text-HeadingXs {
  font-family: var(--font-kanit);
  @apply text-lg !leading-7 font-semibold;
}

.text-HeadingSm {
  font-family: var(--font-kanit);
  @apply text-2xl !leading-8 font-semibold;
}

.text-HeadingMd {
  font-family: var(--font-kanit);
  @apply text-3xl !leading-10 font-semibold;
}

.text-HeadingLg {
  font-family: var(--font-kanit);
  @apply text-[40px] !leading-[48px] font-semibold;
}

.text-DisplayXs {
  font-family: var(--font-kanit);
  @apply text-5xl !leading-[56px]  font-semibold;
}

.text-DisplaySm {
  font-family: var(--font-kanito);
  @apply text-[56px] !leading-[64px] font-semibold;
}

.text-DisplayMd {
  font-family: var(--font-kanit);
  @apply text-[64px] !leading-[72px] font-semibold;
}

.text-DisplayLg {
  font-family: var(--font-kanit);
  @apply text-[72px] !leading-[76px] font-semibold;
}

.text-DisplayXl {
  font-family: var(--font-kanit);
  @apply text-[80px] !leading-[84px] font-semibold;
}

.max-width-pc {
  width: 100%;
  max-width: 1400px !important;
}

/*for override date picker*/
.react-date-picker__wrapper {
  border: none !important;
}

.black {
  border: 1px solid black;
}
.red {
  border: 1px solid red;
}
.blue {
  border: 1px solid blue;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: block; /* Chrome, Safari and Opera */
}
.hide-scrollbar::-webkit-scrollbar {
  /* Completely hides the scrollbar */
  width: 0; /* For vertical scroll */
  height: 0; /* For horizontal scroll */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  /* Custom thumb design (scrollbar "handle") before being hidden */
  background-color: #888; /* Add color before it disappears */
  border-radius: 10px; /* Smooth edges for better appearance */
}

.hide-scrollbar::-webkit-scrollbar-track {
  /* Background of the scrollbar track (optional for customization) */
  background-color: #f1f1f1; /* Light color track */
}

/* quill editor */
.ql-editor {
  @apply text-BodyMd font-normal not-italic;
}

.ql-viewer {
  @apply text-BodyMd font-normal not-italic;
}

.ql-viewer * {
  all: revert;
}

.ql-viewer img {
  max-width: 100%;
}

.ql-editor[contenteditable="true"]::before {
  content: attr(data-placeholder);
  font-style: normal !important;
  color: #9ca3af !important;
  border: none !important;
  @apply text-lg font-normal outline-none;
}

.ql-editor[contenteditable="true"]:focus::before,
.ql-editor:not(.ql-blank)::before {
  content: "";
}

.ql-toolbar {
  border: none !important;
}

.ql-container {
  border: none !important;
  min-height: 150px !important;
}

.ql-editor ul {
  list-style-type: disc; /* Hiển thị bullet */
  padding-left: 20px; /* Căn lề để hiển thị đẹp hơn */
}

.ql-editor ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}

.ql-editor.ql-blank::before {
  color: #aaa; /* Tailwind gray-400 equivalent */
  font-size: 16px; /* Tailwind text-2xl equivalent */
  font-style: italic; /* Tailwind italic equivalent */
  content: attr(placeholder); /* Ensure the placeholder text is displayed */
}
