@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */
:root {
  --font-kanit: "Kanit", sans-serif;
}

/*for override date picker*/
.react-date-picker__wrapper {
  border: none !important;
}

.black {
  border: 1px solid black;
}
.red {
  border: 1px solid red;
}
.blue {
  border: 1px solid blue;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: block; /* Chrome, Safari and Opera */
}
.hide-scrollbar::-webkit-scrollbar {
  /* Completely hides the scrollbar */
  width: 0; /* For vertical scroll */
  height: 0; /* For horizontal scroll */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  /* Custom thumb design (scrollbar "handle") before being hidden */
  background-color: #888; /* Add color before it disappears */
  border-radius: 10px; /* Smooth edges for better appearance */
}

.hide-scrollbar::-webkit-scrollbar-track {
  /* Background of the scrollbar track (optional for customization) */
  background-color: #f1f1f1; /* Light color track */
}

/* quill editor */
.ql-editor {
  @apply text-BodyMd font-normal not-italic;
}

.ql-viewer {
  @apply text-BodyMd font-normal not-italic;
}

.ql-viewer * {
  all: revert;
}

.ql-viewer img {
  max-width: 100%;
}

.ql-editor[contenteditable="true"]::before {
  content: attr(data-placeholder);
  font-style: normal !important;
  color: #9ca3af !important;
  border: none !important;
  @apply text-lg font-normal outline-none;
}

.ql-editor[contenteditable="true"]:focus::before,
.ql-editor:not(.ql-blank)::before {
  content: "";
}

.ql-toolbar {
  border: none !important;
}

.ql-container {
  border: none !important;
  height: calc(100% - 40px) !important;
}

.ql-editor ul {
  list-style-type: disc; /* Hiển thị bullet */
  padding-left: 20px; /* Căn lề để hiển thị đẹp hơn */
}

.ql-editor ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}

.ql-editor.ql-blank::before {
  color: #aaa; /* Tailwind gray-400 equivalent */
  font-size: 16px; /* Tailwind text-2xl equivalent */
  font-style: italic; /* Tailwind italic equivalent */
  content: attr(placeholder); /* Ensure the placeholder text is displayed */
}

/* css react-date-picker */
.react-daterange-picker__wrapper {
  display: flex;
  flex-grow: 0;
  border: 1px solid red important;
}

.custom-scrollbar {
  display: block;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(#bc4cac, #bc4cac);
  border-radius: 5px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="checkbox"] {
  accent-color: #bc4cac; /* Change to any color */
}
